.headingLogo{
  max-width: 150px;
  margin:10px 10px 10px -10px;
  }
#pic1{
  padding: 55px 0px 0px 0px!important;
  position: relative;
}
#text1{
  z-index: 1;
  width: 1200px;
  position:absolute;
  left:50%;
  top:60%;
  margin-left: -600px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 40px;

}
